.cart-container
{
  display: grid;
  gap: 1.5rem;
  grid-template-rows: repeat(2, 1fr);
  padding-block: 2rem;
  justify-items: center;
  font-size: 25px;
  font-family: fantasy;

  
}

.browse-btn
{
  background-color: #00a3ff;
  color: #f5f5f5;
  border: #f5f5f5;
  width: 45%;
  padding: 15px;
  margin: 15px;
  font-size: 25px;
  box-shadow: 2px 2px 2px 2px rgb(17, 17, 32, 0.3);
  cursor: pointer;
  font-weight: bold;
}