.checkout {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.12);
  padding: 1rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.1px);
-webkit-backdrop-filter: blur(9.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.cart-container {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: repeat(2, 2fr);
  padding-block: 2rem;
  justify-items: center;
  font-size: 30px;
  font-family: fantasy;
  font-style: italic;
}

.product-checkout-price {
  font-weight: bolder;
  font-size: 1.2rem;
}

.remove-button {
  background-color: #466efd;
  color: white;
  border: #466efd;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: bolder;
}

.filters-summary {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
}

.checkout-total:first-child {
  font-weight: bolder;
  font-size: 1rem;
}

.productContainer {
  width: 100%;
}

.checkout_row {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.checkout_image {
  width: 200px;
  object-fit: cover;
}

.checkout-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.delivery-time {
  font-size: 1.3rem;
  font-weight: bolder;
  color: rgb(63, 196, 63);
}

.checkout-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.Add-btn {
  width: 50%;
  margin-right: .5rem;
  /* margin: .5rem; */
}

.Checkout-btn {
  width: 50%;
}







