
.text-color
{
    color: black;
}
.title-color
{
    color:  black;
}
.subtitle-color
{
    color:  black;
}

/* this is the card for the food details */ 
 .food-card{
    /* position:relative; */
}
.quantity-box
{
    bottom:50px;
   /* position:absolute; */
    width:160px;
    right:20px;
    padding:10px;
}
/* food category text */
.food-cat {
    /* position:absolute; */
    left: 1.75rem;
    bottom:3rem;
}




