.text-color
{
    color: black;
}
.title-color
{
    color:  black;
}
.subtitle-color
{
    color:  black;
}

/* this is the card for the food details */ 
 .food-card-container {
    /* position:relative; */
    /* display: flex; */
    width: 1400px;
    margin: 0 auto;

}