@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400&display=swap');

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  color: white;
  width: 700px;
  padding: 2rem;
  overflow: hidden;
}

#homepage-title {
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  font-family: 'Aladin';
}

#homepage-intro {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#variety{
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Poppins';
  font-style:italic;
}
.home-container cite{
  font-size: 1.5rem;
  color: #00a3ff;
  margin-bottom: 1rem;
}

.order-btn {
  background-color: #00a3ff;
  padding: 10px;
  margin-top: 5rem;
  color: #f5f5f5;
  border: #f5f5f5;
  border-radius: 10px;
  width: 50%;
  text-align: center;
 
  font-size: 25px;
  box-shadow: 2px 2px 2px 2px rgb(17, 17, 32, 0.3);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.order-btn:hover {
  color: white;
  transform: scale(1.05);
}

.order-btn > i{
    padding-right: 20px;
}