* {
  overflow-y: hidden;  
}

.prof {
  background-image: url("https://images.unsplash.com/photo-1569091791842-7cfb64e04797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.prof-container{
  display: flex;
  margin-top: .5rem;
  margin-left: 1.5rem;
}

.prof-container h2 {
  font-size: 2.5rem;
}

.prof-container i {   
  font-size: 2.5rem;
  margin: .3rem .5rem 0rem 1.5rem;
}

.profile {
  display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 1.5rem;
    margin: .3rem 1.5rem 0 1.5rem;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.prof-card6 {
  border: 1px solid #000;
  font-size: 2rem;  
}

.prof-card6 h2 {
  text-align: center;
  margin-top: 1.5rem;
}

.icons {
  text-align: center;
}

.icons i {
  margin-right: 3.5rem;
}












