* {
  overflow-y: hidden;
  background-color: white;
}

.prof-container{
  display: flex;
  margin-top: .5rem;
  margin-left: 1.5rem;
}

.prof-container h2 {
  font-size: 2.5rem;
}

.prof-container i {   
  font-size: 2.5rem;
  margin: .3rem .5rem 0rem 1.5rem;
}

.profile {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: .4fr .7fr;  
  grid-template-rows: .8fr .3fr .3fr .3fr;
  margin: 1rem 1.5rem 0 1.5rem;
}

.prof-header {  
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #D9D9D9;
  letter-spacing: .1rem;
}

.prof-header h1, h3 {
  font-size: 2.5rem;
  font-family: 'Inter';
  font-weight: 800
}

.prof-header p {
  font-size: 1.5rem;
}

.prof-user {
  overflow: hidden;  
  border-radius: 5px;
  background: url(https://img.freepik.com/free-vector/abstract-hand-drawn-woman-portrait_52683-58156.jpg?w=826&t=st=1672988236~exp=1672988836~hmac=7d4eda86503521d077a8a51ede4c0280b3a204651df9cabd0ec869c71e13f762);
  filter: grayscale(100%);
}

.card {  
overflow: hidden;
width: 100%;
height: 100%;
border-radius: 5px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal {
  overflow: hidden;  
  border-radius: 5px;
  background-color: #D9D9D9;     
}

.meal-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  }

.meal i {
  font-size: 2rem;
  float: right;
  margin-right: 1rem;
}

.meal p {
  font-size: 2rem;
  word-spacing: .3rem;
}










