.restaurant-heading{
    padding: 2rem;
    font-size: 50px; 
}
img {
    width: 95%;
    height: 60%;
    object-fit: cover;
}

.picture-div{
    display: grid;
    grid-template-columns: repeat(2,2fr);

}
/*.picture2-div{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    width: 1600px;
    height: 156px;
    
}*/
.image-1{
    position: absolute;
    width: 817px;
    height: 357px;
    left: 81px;
    top: 149px;

}
.image-2{
    position: absolute;
    width: 991px;
    height: 357px;
    left: 908px;
    top: 149px;
}
.image-3{
    position: absolute;
    width: 1191px;
    height: 256px;
    left: 81px;
    top: 517px;
    background-color: rgba(0, 163, 255, 0.5);
    backdrop-filter: blur(2px);
}
.image-4{
    position: absolute;
    width: 580px;
    height: 256px;
    left: 1292px;
    top: 527px;
}
.image-5{
    position: absolute;
    width:889px;
    height: 120px;
    left: 82px;
    top: 787px;
}
.image-6{
    position: absolute;
    width: 849px;
    height: 120px;
    left: 992px;
    top: 787px;

}