* {
    cursor: pointer;
}

.restaurant-heading {
    margin-top: .5rem;
    margin-left: 1.5rem;
    font-size: 2.5rem;
}

.picture-div {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 270px 270px 270px;
    gap: 1.5rem;
    margin: .3rem 1.5rem 0 1.5rem;
}

img {
    width: 100%;
    height: 100%;
   object-fit: cover; 
}

.img-card1, .img-card2, .img-card3, .img-card4, .img-card5, .img-card6 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    animation: fadeLeftImage 4s both;
}

.img-card2 {
    grid-column: span 2;
}

.img-card3 {
    grid-column: span 2;
}

.img-card6 {
    grid-column: span 2;
}