.sign-container {
  width: 800px;
  padding: 20px;
  padding-left: 40px;
  border-radius: 25px;
}
.sign-header {
  text-align: left;

  padding-bottom: 20px;
  padding-top: 20px;
}

.main-content input {
  width: 60%;
  height: 40px;
  border: none;
  background-color: transparent;
  opacity: 1;
  border: 2px solid #00a3ff;
  border-radius: 25px;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: white;
  margin-bottom: 25px;
}
.sign-btn {
  width: 200px;

  height: 40px;
  font-size: 20px;
  background-color: #00a3ff;
  border-radius: 25px;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
.sign-header h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 16px;
}
.sign-header h1{
  color: #ffffff;
  font-weight: 800;
}
.sign-link {
  display: flex;
  align-items: baseline;
  font-size: 15px;
}
.sign-link p{
  color: #ffffff;
}
.sign-link a {
  color: #00a3ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all .2s ease-in-out;
}

.sign-link a:hover {
  color: #00a3ff;
  text-decoration: underline;
}
